In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
%matplotlib inline

In [9]:
data=pd.read_csv(r"C:\Users\USER\Downloads\NetflixOriginals.csv",encoding='ISO-8859-1')

In [11]:
data.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

In [13]:
data.shape

(584, 6)

In [14]:
data1=data.copy()

In [15]:
data1

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [25]:
data1['Release Year'] = data1['Premiere'].str.split(' ').str[2]

In [27]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         584 non-null    object
 1   Genre         584 non-null    object
 2   Premiere      584 non-null    object
 3   Runtime       584 non-null    int64
 4   IMDB Score    584 non-null    float64
 5   Language      584 non-null    object
 6   Release Year  584 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 32.1+ KB

In [28]:
data1

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Release Year
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,2019
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,2020
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,2019
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,2018
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,2020
...,...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English,2018
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian,2015
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English,2018
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese,2020
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English,2020

In [31]:
data1['Release month'] = data1['Premiere'].str.split(" ").str[0]

In [36]:
day_series = data1['Premiere'].str.split(" ").str[1]

In [40]:
data1['Release Day']= day_series.str.split(",").str[0]

In [42]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          584 non-null    object
 1   Genre          584 non-null    object
 2   Premiere       584 non-null    object
 3   Runtime        584 non-null    int64
 4   IMDB Score     584 non-null    float64
 5   Language       584 non-null    object
 6   Release Year   584 non-null    object
 7   Release month  584 non-null    object
 8   Release Day    584 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 41.2+ KB

In [45]:
data1.drop('Release Year',axis=1,inplace=True)

In [52]:
data1['Release Year'] = data1['Premiere'].str.split(" ").str[2].str.split(" ").str[0]

In [53]:
data1

,Title,Genre,Premiere,Runtime,IMDB Score,Language,Release month,Release Day,Release Year
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,August,5,2019
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,August,21,2020
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,December,26,2019
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,January,19,2018
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,October,30,2020
...,...,...,...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English,December,31,2018
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian,October,9,2015
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English,December,16,2018
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese,December,8,2020
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English,October,4,2020

In [54]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          584 non-null    object
 1   Genre          584 non-null    object
 2   Premiere       584 non-null    object
 3   Runtime        584 non-null    int64
 4   IMDB Score     584 non-null    float64
 5   Language       584 non-null    object
 6   Release month  584 non-null    object
 7   Release Day    584 non-null    object
 8   Release Year   584 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 41.2+ KB

In [58]:
data1.isnull().sum()

Title            0
Genre            0
Premiere         0
Runtime          0
IMDB Score       0
Language         0
Release month    0
Release Day      0
Release Year     0
dtype: int64

In [61]:
data1.drop('Premiere',axis = 1,inplace=True)

In [65]:
data1.head()

,Title,Genre,Runtime,IMDB Score,Language,Release month,Release Day,Release Year
0,Enter the Anime,Documentary,58,2.5,English/Japanese,August,5,2019
1,Dark Forces,Thriller,81,2.6,Spanish,August,21,2020
2,The App,Science fiction/Drama,79,2.6,Italian,December,26,2019
3,The Open House,Horror thriller,94,3.2,English,January,19,2018
4,Kaali Khuhi,Mystery,90,3.4,Hindi,October,30,2020

In [66]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [67]:
Netflix_Data=data1.copy()

In [68]:
Netflix_Data

,Title,Genre,Runtime,IMDB Score,Language,Release month,Release Day,Release Year
0,Enter the Anime,Documentary,58,2.5,English/Japanese,August,5,2019
1,Dark Forces,Thriller,81,2.6,Spanish,August,21,2020
2,The App,Science fiction/Drama,79,2.6,Italian,December,26,2019
3,The Open House,Horror thriller,94,3.2,English,January,19,2018
4,Kaali Khuhi,Mystery,90,3.4,Hindi,October,30,2020
...,...,...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,125,8.4,English,December,31,2018
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,91,8.4,English/Ukranian/Russian,October,9,2015
581,Springsteen on Broadway,One-man show,153,8.5,English,December,16,2018
582,Emicida: AmarElo - It's All For Yesterday,Documentary,89,8.6,Portuguese,December,8,2020
583,David Attenborough: A Life on Our Planet,Documentary,83,9.0,English,October,4,2020

In [77]:
writer = pd.ExcelWriter('Netflix Original Data.xlsx')

In [78]:
Netflix_Data.to_excel(writer,encoding='utf8', index=False)

In [79]:
writer.save()

In [80]:
Netflix_Data.to_excel("Netflix.xlsx")

In [83]:
Netflix_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          584 non-null    object
 1   Genre          584 non-null    object
 2   Runtime        584 non-null    int64
 3   IMDB Score     584 non-null    float64
 4   Language       584 non-null    object
 5   Release month  584 non-null    object
 6   Release Day    584 non-null    object
 7   Release Year   584 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 36.6+ KB

In [86]:
Netflix_Data['Release Year'].dtype

dtype('O')

In [87]:
Netflix_Data['Release Year']=Netflix_Data['Release Year'].astype(int)

In [88]:
Netflix_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          584 non-null    object
 1   Genre          584 non-null    object
 2   Runtime        584 non-null    int64
 3   IMDB Score     584 non-null    float64
 4   Language       584 non-null    object
 5   Release month  584 non-null    object
 6   Release Day    584 non-null    object
 7   Release Year   584 non-null    int32
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 34.3+ KB

In [92]:
Netflix_Data['Release Day'].unique()

array(['5', '21', '26', '19', '30', '1', '4', '23', '18', '22', '27',
       '25', '13', '16', '9', '2', '31', '10', '7', '24', '28', '3', '15',
       '14', '6', '20', '11', '17', '8', '12', '29', '16.', '15.', '27.'],
      dtype=object)

In [115]:
Netflix_Data[Netflix_Data['Release Day']=='16.']

Empty DataFrame
Columns: [Title, Genre, Runtime, IMDB Score, Language, Release month, Release Day, Release Year]
Index: []

In [116]:
Netflix_Data[Netflix_Data['Release Day']=='27.']

Empty DataFrame
Columns: [Title, Genre, Runtime, IMDB Score, Language, Release month, Release Day, Release Year]
Index: []

In [117]:
Netflix_Data[Netflix_Data['Release Day']=='15.']

Empty DataFrame
Columns: [Title, Genre, Runtime, IMDB Score, Language, Release month, Release Day, Release Year]
Index: []

In [108]:
Netflix_Data.drop(index=111,axis=0,inplace=True)

In [111]:
Netflix_Data.drop(index=541,axis=0,inplace=True)

In [112]:
Netflix_Data.drop(index=538,axis=0,inplace=True)

In [113]:
Netflix_Data.drop(index=308,axis=0,inplace=True)

In [114]:
Netflix_Data.drop(index=387,axis=0,inplace=True)

In [118]:
Netflix_Data['Release Day']=Netflix_Data['Release Day'].astype(int)

In [124]:
Netflix_Data['Release Day'].unique()

array([ 5, 21, 26, 19, 30,  1,  4, 23, 18, 22, 27, 25, 13, 16,  9,  2, 31,
       10,  7, 24, 28,  3, 15, 14,  6, 20, 11, 17,  8, 12, 29])

In [125]:
Netflix_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 583
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          579 non-null    object
 1   Genre          579 non-null    object
 2   Runtime        579 non-null    int64
 3   IMDB Score     579 non-null    float64
 4   Language       579 non-null    object
 5   Release month  579 non-null    object
 6   Release Day    579 non-null    int32
 7   Release Year   579 non-null    int32
dtypes: float64(1), int32(2), int64(1), object(4)
memory usage: 36.2+ KB

In [132]:
Netflix_Data

,Title,Genre,Runtime,IMDB Score,Language,Release month,Release Day,Release Year
0,Enter the Anime,Documentary,58,2.5,English/Japanese,August,5,2019
1,Dark Forces,Thriller,81,2.6,Spanish,August,21,2020
2,The App,Science fiction/Drama,79,2.6,Italian,December,26,2019
3,The Open House,Horror thriller,94,3.2,English,January,19,2018
4,Kaali Khuhi,Mystery,90,3.4,Hindi,October,30,2020
...,...,...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,125,8.4,English,December,31,2018
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,91,8.4,English/Ukranian/Russian,October,9,2015
581,Springsteen on Broadway,One-man show,153,8.5,English,December,16,2018
582,Emicida: AmarElo - It's All For Yesterday,Documentary,89,8.6,Portuguese,December,8,2020
583,David Attenborough: A Life on Our Planet,Documentary,83,9.0,English,October,4,2020

In [131]:
with open(r'C:\Users\USER\Netflix_Origial_Data','r') as f:
    f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\USER\\Netflix_Origial_Data'

In [133]:
Netflix_Data.to_csv('Netflix_Original.csv',index=False)

In [140]:
Netflix_Data[Netflix_Data['IMDB Score']==Netflix_Data['IMDB Score'].max()]

,Title,Genre,Runtime,IMDB Score,Language,Release month,Release Day,Release Year
583,David Attenborough: A Life on Our Planet,Documentary,83,9.0,English,October,4,2020

In [142]:
Netflix_Data['Release Year'].unique()

array([2019, 2020, 2018, 2021, 2016, 2017, 2015, 2014])

In [143]:
Netflix_Data.shape

(579, 8)

In [145]:
data.size

3504